.primary{
    font-size: 3rem;
    margin: 1rem 0;
}

.secondary{
    font-size: 1.75rem;
    margin: .5rem 0;
}

.tertiary{
    font-size: 1.25rem;
    margin: .25rem 0;
    letter-spacing: .01rem;
}